:root {
  --content-width: 100%;

  /* Day */
  --color-day: #0D0D0D;
  --second-day: #5800FF;
  --background-day: #FFFFFF;

  /* Night */
  --color-night: var(--background-day);
  --second-night: var(--second-day);
  --background-night: var(--color-day)

  --color: var(--color-day);
  --second: var(--second-day);
  --background: var(--background-day);
  --yellow: #FFFD39;
  --grey: #F8F8F8;
}

@font-face {
  font-family: "Scope-BoldExpanded";
  src: url("Fonts/Scope-BoldExpanded.woff2") format("woff2"),
    url("Fonts/Scope-BoldExpanded.woff") format("woff");
}
@font-face {
  font-family: "Scope-LightExpanded";
  src: url("Fonts/Scope-LightExpanded.woff2") format("woff2"),
    url("Fonts/Scope-LightExpanded.woff") format("woff");
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Scope-LightExpanded", "Courir", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  line-height: 1.1875; 
  color: var(--color);
  background: var(--background);
}
a {
  color: var(--color);
  text-decoration: none;
}
a:hover {
  color: var(--second);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Scope-BoldExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 2rem;

}
h1,
h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
b,
strong {
  font-family: "Scope-BoldExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  margin-bottom: 3rem;
}
.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 3s linear infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
