@font-face {
  font-family: "Scope-BoldExpanded";
  src: url("Fonts/Scope-BoldExpanded.woff2") format("woff2"),
    url("Fonts/Scope-BoldExpanded.woff") format("woff");
}

@font-face {
  font-family: "Scope-LightExpanded";
  src: url("Fonts/Scope-LightExpanded.woff2") format("woff2"),
    url("Fonts/Scope-LightExpanded.woff") format("woff");
}

@font-face {
  font-family: "Scope-MediumExpanded";
  src: url("Fonts/Scope-MediumExpanded.woff2") format("woff2"),
    url("Fonts/Scope-MediumExpanded.woff") format("woff");
}

:root {
  --content-width: 100%;

  /* Day */
  --color-day: #0D0D0D;
  --second-day: #5800FF;
  --background-day: #FFFFFF;

  /* Night */
  --color-night: var(--background-day);
  --second-night: var(--second-day);
  --background-night: var(--color-day);

  --color: var(--color-day);
  --second: var(--second-day);
  --background: var(--background-day);
  --yellow: #FFFD39;
  --grey: #F8F8F8;
  --red: #e02500;

  --font-light: "Scope-LightExpanded", "Courir", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-bold: "Scope-MediumExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-medium: "Scope-MediumExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}



html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  line-height: 1.1875;
  color: var(--color);
  background: var(--background);
}

a {
  color: var(--color);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: var(--second);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bold);
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-size: 1.5rem;
}

*>h1:first-child {
  margin-top: 0;
  margin-bottom: 4rem;
}

*>h2:first-child {
  margin-top: 0;
  margin-bottom: 4rem;
}

*>h3:first-child {
  margin-top: 0;
  margin-bottom: 4rem;
}

*>h4:first-child {
  margin-top: 0;
}

*>h5:first-child {
  margin-top: 0;
}

*>h6:first-child {
  margin-top: 0;
}

b,
strong {
  font-family: "Scope-BoldExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 2rem;
}
img {
  display: block;
}
button {
  font-family: var(--font-light);
  font-size: 1.25rem;
  background: none;
  border: none;
  color: var(--color);
  cursor: pointer;
}
button:hover {
  color: var(--second);
}
button:focus {
  outline: var(--second);
}

input {
        border:none;
        outline: none;
        font-family: var(--font-medium);
        font-size: 1.25rem;
        background: none;
        line-height: 2rem;
        padding: 0 .5rem;
        color:var(--color);
        background: var(--background);
}
input:hover {
    color: var(--second);
}
input:focus, input:focus-visible {
    border:none;
    outline: none;
}


.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 3s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}