:root {
  --content-width: min(100%, 32rem);
  --header-width: min(100%, 72rem);

  /* Day */
  --color-day: #f2fefd;
  --second-day: #FAFF00;
  --background-day: rgb(66, 154, 235);
  --background-night-translucent: rgb(66, 154, 235, 0.9);;
  --background-night-blured: rgb(66, 154, 235, 0.7);

  /* Night */
  --color-night: #f2fefd;
  --second-night: #FAFF00;
  --background-night: rgb(0, 28, 99);
  --background-night-translucent: rgb(0, 28, 99, 0.9);;
  --background-night-blured: rgb(0, 28, 99, 0.7);

  --color: var(--color-night);
  --second: var(--second-night);
  --background: var(--background-night);
  --background-translucent: var(--background-night-translucent);
  --background-blured: var(--background-night-blured);
}
.glassomorphism {
  background: var(--background-translucent);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glassomorphism {
    background: var(--background-blured);
    backdrop-filter: blur(6px);
  }
}

@font-face {
  font-family: "Scope-Medium";
  src: url("Fonts/Scope-Medium.woff2") format("woff2"),
    url("Fonts/Scope-Medium.woff") format("woff");
}
@font-face {
  font-family: "Scope-BoldExpanded";
  src: url("Fonts/Scope-BoldExpanded.woff2") format("woff2"),
    url("Fonts/Scope-BoldExpanded.woff") format("woff");
}
@font-face {
  font-family: "Scope-LightExpanded";
  src: url("Fonts/Scope-LightExpanded.woff2") format("woff2"),
    url("Fonts/Scope-LightExpanded.woff") format("woff");
}
@font-face {
  font-family: "Scope-LightCondensed";
  src: url("Fonts/Scope-LightCondensed.woff2") format("woff2"),
    url("Fonts/Scope-LightCondensed.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap");

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Scope-LightExpanded", "Courir", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.3;
  color: var(--color);
  background: var(--background);
}
a {
  color: var(--color);
  text-decoration: none;
}
a:hover {
  color: var(--second);
  text-decoration: underline;
  text-decoration: var(--second) wavy underline;
    /* text-decoration-skip-ink: none; */
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Scope-LightExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-size: 2rem;

}
h1,
h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
}
b,
strong {
  font-family: "Scope-BoldExpanded", "Courir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  margin-bottom: 3rem;
}
.rotate {
  transform: rotateY(45deg);
  animation: rotateAnimation 3s linear infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
